

.third {
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .html, .body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 1.5s;
  }

  .startPage_wrapper_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
  }


  .btn {
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: 275px;
  }

  .btn:hover, .btn:focus {
    outline: 0;
  }

  .Java{
    padding: 1.2em 5.2em;

  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
}
.modal .modal_content {

    margin: 15% auto;
    padding: 20px;

    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {

    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;

  padding: 5px 8px;
  border-radius: 5px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;

  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

a{
  text-decoration: none;
}

.title_text{
	color:  #ffffff;
	font: normal bold 30px/1 "Open Sans", sans-serif;
	text-align: center;
	font-weight: 800;
  margin-top: 50px;
  padding-bottom: 40px;
}

.text_modal{
  color:  #ffffff;
	font: normal 16px "Open Sans", sans-serif;
	text-align: center;
	font-weight: 800;
}

.wrapper_modal{
  display: flex;
}